*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(213, 213, 91);
    align-items: center;
}
img{
    height: 70;
}
.nav-items>ul{
display: flex;
gap: 10px;
font-size: 24px;
padding: 0px 20px;
list-style-type:none ;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.body{
    background-color: #fff;
}
.search{
    width: 30%;
    margin-top: 90px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}
.filter-btn{
    width: 20%;
    margin-top: 90px;
    margin-left: 20px;
    cursor: pointer;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.res-card{
    background-color: #bbe1ff;
  min-height: 350px;      /* ensures card is readable */
  height: auto;           /* grows with content */
  overflow: hidden;       /* hides anything outside */
  word-wrap: break-word;  /* wrap long text */
    width: 200px;
    padding: 10px;
    margin: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.res-card:hover{
    border: 1px solid gray;
    cursor: pointer;
}
.res-card img{
    width: 100%;
    border-radius: 25px;
    min-height: 100px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: darkblue;
    color: #bbe1ff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}